@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
body {
    
  height: calc(100vh - 8em);
  padding: 4em;
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;  
  background-color: rgb(25,25,25);  
  }
  
  .fakeScreen {
    margin: 0 auto;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  p {
    position: relative;
    margin-left: -8.5em;
    text-align: left;
    font-size: 1.25em;
    white-space: normal;
    overflow: hidden;
    width: 0;
  }
  
  span {
    color: #fff;
    font-weight: bold;
  }
  
  .line{
    color: #66FF66;
    text-shadow: 0 0 10px #33FF33;
    position: relative;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    white-space: nowrap;
    overflow: hidden;
}
 
  
  .anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 15em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }
  .typewriter{
    width: fit-content;
  }
  .typewriter p{
    color: #66FF66;
    text-shadow: 0 0 10px #33FF33;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #33FF33; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    width: fit-content;
    animation: 
      typing 0.6s steps(25),
      blink-caret 500ms steps(44) forwards ;
      
  }
  

  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width:100%; } 
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from { border-color: #33FF33}
    20% {border-color: rgb(25,25,25);}
    40% {border-color: #33FF33}
    60% {border-color: rgb(25,25,25);}
    80% {border-color: #33FF33}
    100% {border-color: rgb(25,25,25);}
  }